*.jax
6.0SubstitutionReview/6.0SubstitutionRule.aux
*.log
6.0SubstitutionReview/6.0SubstitutionRule.out
*.aux
6.0SubstitutionReview/6.0SubstitutionRuleSolutions.out
*.log
6.2RegionsBetweenCurves/6.2RegionsBetweenCurvesSolutions.log
6.2RegionsBetweenCurves/6.2RegionsBetweenCurvesSolutions.pdf
*.gz
Sections/handout template.pdf
Sections/6.2RegionsBetweenCurves/6.2RegionsBetweenCurvesSolutions.pdf
*.out
Sections/6.2RegionsBetweenCurves/6.2RegionsBetweenCurves.pdf

Sections/6.2RegionsBetweenCurves/.smbdeleteAAA0ce54.4

Sections/6.2RegionsBetweenCurves/6.2RegionsBetweenCurves.synctex.gz(busy)

Sections/6.2RegionsBetweenCurves/.smbdeleteAAA10914.4

Sections/6.3VolumeBySlicing/6.3VolumeBySlicing.pdf

Sections/6.3VolumeBySlicing/6.3VolumeBySlicing.synctex.gz(busy)

Sections/6.4VolumeByShells/6.4VolumeByShells.pdf
Sections/10.1ApproximatingFunctionsWithPolynomials/10.1ApproximatingFunctionsWithPolynomials.pdf
Sections/10.2PropertiesOfPowerSeries/10.2PropertiesOfPowerSeries.pdf
Sections/10.3TaylorSeries/10.3TaylorSeries.pdf
Sections/10.4WorkingWithTaylorSeries/10.4WorkingWithTaylorSeries.pdf
Sections/11.1ParametricEquations/11.1ParametricEquations.pdf
Sections/11.2PolarCoordinates/11.2PolarCoordinates.pdf
Sections/11.3CalculusInPolarCoordinates/11.3CalculusInPolarCoordinates.pdf
Sections/12.1VectorsInThePlane/12.1VectorsInThePlane.pdf
Sections/12.2VectorsInThreeDimensions/12.2VectorsInThreeDimensions.pdf
Sections/12.3DotProducts/12.3DotProducts.pdf
Sections/12.4CrossProducts/12.4CrossProducts.pdf
Sections/12.5LinesAndCurvesInSpace/12.5LinesAndCurvesInSpace.pdf
Sections/6.5LengthOfCurves/6.5LengthsOfCurves.pdf
Sections/6.6SurfaceArea/6.6SurfaceArea.pdf
Sections/6.7PhysicalApplications/6.7PhysicalApplications.pdf
Sections/6.9ExponentialModels/6.9ExponentialModels.pdf
Sections/7.1BasicApproachesToIntegration/7.1BasicApproachesToIntegration.pdf
Sections/7.2IntegrationByParts/7.2IntegrationByParts.pdf
Sections/7.3TrigonometricIntegrals/7.3TrigonometricIntegrals.pdf
Sections/7.4TrigonometricSubstitutions/7.4TrigonometricSubstitutions.pdf
Sections/7.5PartialFractions/7.5PartialFractions.pdf
Sections/7.8ImproperIntegrals/7.8ImporperIntegrals.pdf
Sections/8.1BasicIdeasOfODEs/8.1BasicIdeasOfODEs.pdf
Sections/8.2DirectionFieldsAndEulersMethod/8.2DirectionFieldsAndEulersMethod.pdf
Sections/8.3SeparableDifferentialEquations/8.3SeparableDifferentialEquations.pdf
Sections/9.1OverviewOfSequencesAndSeries/9.1OverviewOfSequencesAndSeries.pdf
Sections/9.2Sequences/9.2Sequences.pdf
Sections/9.3InfiniteSeries/9.3InfiniteSeries.pdf
Sections/9.4DiverenceAndIntegralTests/9.4DivergenceAndIntegralTests.pdf
Sections/9.5RatioRootAndComparisonTests/9.5RatioRootAndComparisonTests.pdf
Sections/9.6AlternatingSeries/9.6AlternatingSeries.pdf
Sections/06.2RegionsBetweenCurves/6.2RegionsBetweenCurves.pdf
Sections/06.3VolumeBySlicing/6.3VolumeBySlicing.pdf
Sections/06.4VolumeByShells/6.4VolumeByShells.pdf
Sections/06.5LengthOfCurves/6.5LengthsOfCurves.pdf
Sections/06.6SurfaceArea/6.6SurfaceArea.pdf

Sections/07.1BasicApproachesToIntegration/7.1BasicApproachesToIntegration.pdf

Sections/06.9ExponentialModels/6.9ExponentialModels.pdf
Sections/07.4TrigonometricSubstitutions/7.4TrigonometricSubstitutions.pdf
Sections/07.3TrigonometricIntegrals/7.3TrigonometricIntegrals.pdf
Sections/07.2IntegrationByParts/7.2IntegrationByParts.pdf

Sections/07.4TrigonometricSubstitutions/ximera.cls.tex

Sections/07.4TrigonometricSubstitutions/ximera.cls.synctex.gz(busy)

Sections/07.4TrigonometricSubstitutions/.smbdeleteAAA138804.4

Sections/07.2IntegrationByParts/7.2IntegrationByParts.oc

Sections/07.3TrigonometricIntegrals/7.3TrigonometricIntegrals.oc

Sections/07.4TrigonometricSubstitutions/.smbdeleteAAA139324.4

Sections/07.4TrigonometricSubstitutions/7.4TrigonometricSubstitutions.oc
