*.jax
6.0SubstitutionReview/6.0SubstitutionRule.aux
*.log
6.0SubstitutionReview/6.0SubstitutionRule.out
*.aux
6.0SubstitutionReview/6.0SubstitutionRuleSolutions.out
*.log
6.2RegionsBetweenCurves/6.2RegionsBetweenCurvesSolutions.log
6.2RegionsBetweenCurves/6.2RegionsBetweenCurvesSolutions.pdf
*.gz
Sections/handout template.pdf
Sections/6.2RegionsBetweenCurves/6.2RegionsBetweenCurvesSolutions.pdf
*.out
Sections/6.2RegionsBetweenCurves/6.2RegionsBetweenCurves.pdf

Sections/6.2RegionsBetweenCurves/.smbdeleteAAA0ce54.4

Sections/6.2RegionsBetweenCurves/6.2RegionsBetweenCurves.synctex.gz(busy)

Sections/6.2RegionsBetweenCurves/.smbdeleteAAA10914.4

Sections/6.3VolumeBySlicing/6.3VolumeBySlicing.pdf

Sections/6.3VolumeBySlicing/6.3VolumeBySlicing.synctex.gz(busy)
