*.jax
6.0SubstitutionReview/6.0SubstitutionRule.aux
*.log
6.0SubstitutionReview/6.0SubstitutionRule.out
*.aux
6.0SubstitutionReview/6.0SubstitutionRuleSolutions.out
*.log
6.2RegionsBetweenCurves/6.2RegionsBetweenCurvesSolutions.log
6.2RegionsBetweenCurves/6.2RegionsBetweenCurvesSolutions.pdf